/*#para{
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
  margin-left: 65px;
}
.submit{
  margin-right: 20px;
}
#col_kiri{
  background-color: #f6f4e6;
}
#logo{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
#logo_div{
  margin-right: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px auto !important;
  width: 70px;
  height: 70px;
}



.corousel{
  width: 500px;
  margin-left: 200px;
  margin-top: 60px;

}

.container2{
  color: black;
  float: left !important;
  margin-bottom: 50px;
}

#title_profile{
  color: white !important;
}

#match2{
  font-size: 100px;
}

.col_kiri2{
  background-color: #f0f5f5;
}

#faicon{
  height: 100px !important;
}


#btn_update{
  margin-top: 10px;
  margin-right: 10px;
}

#nama_pet{
  background-color: #c2d6d6;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2px;
  border-radius: 8px;
  font-weight: bold;
}
#nama_pet_1{
  background-color: #c2d6d6;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
#nama_pet2{
  margin-left: 20px;
}


.form_add_pet{
  width: 400px;
  margin-left: 33px;
  height: 400px;
}

#div_add_pet{
  width: 200px;
  height: 200px;
  background-color:  #e0e0d1;
  border-radius: 10px;
  margin-left: 145px;
  margin-bottom: 20px;
}

#upgrade_add_pet{
  text-align: center !important;
  justify-content: center !important;
}

#upgrade_add_pet{
  margin-bottom: 30px !important;
}

#phone_add_pet{
  text-align: center !important;
  justify-content: center !important;
}

#phone_add_pet2{
    margin-bottom: 40px !important;
}


#camera_add_pet{
  width: 120px !important;
  height: 120px !important;
  opacity: 0.5;
  margin-left: 40px;
  margin-top: 40px;
}*/





